/* Variables */
:root {
  --font-family: "Roboto", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #ffffff;
  --primary-color: #000;
  --secondary-color: #54b3d6;
}
  
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* Navbar */
nav > a {
  text-decoration: none;
  color: var(--primary-color);
}

nav > a:hover {
  color: var(--secondary-color);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10; /*Displayed in front of everything else*/
  display: flex;
  flex-direction: row;
  align-items: center; /*Vertically inside the nav container*/
  padding-left: 3vh; /*Relative to the font-size of the element (2em means 2 times the size of the current font)*/
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: var(--bg-color);
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

nav img {
  margin-right: 4vw;
  width: 5vh;
  height: 5vh;
  border-radius:50%;
  filter: grayscale(100%);
}

nav img:hover {
  filter: none;
}

.nav-link {
  margin-right: 0.5vh;
  font-weight: bold;
  font-size: 1.4vh;
  background-image: linear-gradient(
    to right,
    var(--secondary-color),
    var(--secondary-color) 50%, /* this is the color that becomes visible when you hover*/
    var(--primary-color) 50% /* this is the color that is visible when you do not hover */
  ); /* give the link a linear background gradient with a hard stop between two colors at the halfway mark */
  background-size: 200% 100%;
  background-position: 100%; /* make the background double the link’s width, or 200%, and position it all the way over to the left. That way, it’s like only one of the gradients two colors is showing. */
  -webkit-background-clip: text;
  background-clip: text; /* clips the background gradient to the text so it appears the text is actually the color of the background. */
  -webkit-text-fill-color: transparent; /* strips the color out of the text to make it transparent */
  transition: all 0.3s ease-in-out;
}

/* Slide .nav-link::before in from the left */
.nav-link:hover {
  background-position: 0;
 } 

/* Main */
main {
  top: 0;
  width: 84vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0 8vw;
}

.about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Elements on the left of the page */
#about-1, .bumper-2-left, #london-pic-container {
  display: flex;
  flex: 1 1 40vw;
}

#about-1 {
  min-height: 89vh; /* Set minimum height to ensure content is at the bottom */
  align-items: flex-end;
  padding-bottom: 5vh;
}

/* Elements on the right of the page */
.bumper-1-right, #about-pic-container, #about-2 {
  display: flex;
  flex: 1 1 30vw;
}

#about-1, #about-2 {
  z-index: 1;
}

#about-pic-container, #london-pic-container {
  justify-content: center;
  align-items: flex-end;
  /* filter: grayscale(100%); */
  position: relative;
}

#about-2 {
  background-color: var(--bg-color);
}

#profile-pic {
  top: 0%; /* Align to top of container */
  width: 60%; /* Set the image width to 60% of the container */
}

#london-pic {
  top: 100%; /* Align to bottom of container */
  width: 60%; /* Set the image width to 45% of the container so it's the same absolute size as profile-pic*/
}

#profile-pic, #london-pic {
  position: absolute; /* Set position absolute */
  height: auto; /* Automatically adjust the image height based on the aspect ratio */
  z-index: -1;
  transition: transform 0.3s ease-out; /* Add a transition for smooth animation */
}

.japanese-text {
  position: relative;
  color: var(--secondary-color)
}

.japanese-translation {
  top: -100%;
  left: 5%;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  opacity: 0;
  height: 0;
  display: block;
  position: absolute;
  transition: opacity 0.6s ease-out, height 0.6s ease-out;
}

.japanese-translation.show {
  opacity: 1;
  height: auto;
  z-index: 9;
}

.about p {
  margin-top: auto;
}

ul {
  padding-left: 0;
}

ul > ul {
  padding-left: 2%;
}


/* Phone and tablet */
@media (max-width: 768px) {
  .about p {
    font-size: 5vh;
  }

  h2 {
    font-size: 3vh;
  }

  .cards-section {
    grid-template-rows: 30% 30% auto;
  }

  .card-container {
    width: 75px;
    height: 75px;
  }
}



/* Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .about p {
    font-size: 6vh;
  }

  h2 {
    font-size: 4vh;
  }

  .card-container {
    width: 200px;
    height: 200px;
  }
}

/* Large screens */
@media (min-width: 1025px) {
  .about p {
    font-size: 10vh;
  }

  h2 {
    font-size: 5vh;
  }

  .cards-section {
    height: 100vh;
    grid-template-rows: 33% 33% auto;
  }

  .card-container {
    width: 370px;
    height: 370px;
  }
}

.shake {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

/*Underlined effect*/
.shake::before {
  content: '';
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: 1vh;
  width: 100%;
  height: 1vh;
  z-index: -1;
  transition: all 0.5s ease-in-out; /*Makes smooth transition between before (the line) and hover::before (the expanded line)*/
  display: inline-block;
  /*transform: rotate(3deg);*/
}

.shake:hover {
  animation-name: shake;
  animation-duration: 0.5s;
  transform-origin:50% 50%;
  color: white;
  /*-webkit-animation-iteration-count: infinite;*/
}

.shake:hover::before { /*This is the "highlighter colour" when you hover over the element*/
  bottom: 0vh;
  height: 90%;
}

/*Shake animation*/
@keyframes shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

#scroll-1 {
  height: 10vh;
  position: absolute;
  left: -3vw;
  top: 15vh;
  rotate: -15deg;
  z-index: 2;
}

#scroll-2 {
  width: 110vw;
  align-items: center;
  position: absolute;
  left: -3vw;
  border: 1px solid red;
  rotate: 15deg;
}

.scroll-text {
  white-space: nowrap;
  overflow: hidden;
  font-size: 8vh;
  color: black;
  animation: marquee linear infinite;
}

/* Scroll animation */
@keyframes scroll-text {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/* Rotate emojis */
.emoji {
  transition: transform 0.3s ease-in-out; /* Add transition property for smooth animation */
}

.emoji:hover {
  transform: rotate(360deg); /* Rotate the element by 360 degrees on hover */
}

h2 {
  padding-top: 2%;
  padding-bottom: 1%
}

/*Statement section*/
.statement {
  width: 100%;
  background-color: var(--bg-color);
}

.cards-section {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(3, minmax(10px, 1fr));
  justify-items: center;
  word-wrap: break-word;
  overflow:hidden;
  border-radius: .5rem;
}

.card-container {
  perspective: 1000px; /* sets the distance from the user */
  border-radius: .5rem;
}

.card {
  width: 95%;
  height: 95%;
  border-radius: .5rem;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-front > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.card:hover, .card:focus {
  transform: rotateY(180deg);
}

.card.card-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
  padding: 2em;
  border: 1px solid var(--secondary-color);
  font-size: 1vw;
}

.btn-top {
  background: none;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1rem;
  padding: .5em .75em;
  border-radius: .25em;
}

.btn-top:hover {
  background: var(--secondary-color);
  opacity: 0.5;
  color: white;
}

/*Game section*/
.game {
  width: 100%;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: .5rem;
  background: #ccc;
}

#website-container {
  position: relative;
  width: 40%;
}

#embedded-website, #screenshot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1%;
  border: none;
  border-radius: .5rem;
}

#screenshot {
  object-fit: cover;
  opacity: 0;
}

.game-description {
  width: 55%;
  padding: 2%;
}


.big-bumper {
  height: 3000px;
}